.header {
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 65px;
    background-color: white;
    padding: 0px 25px 0px 285px;
    box-shadow: 0 0 2px #cacaca;
}

.account {
    position: relative;
    top: -25px;
}

.profile {
    position: absolute;
    top: 0;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile a {
    font-size: 50px;
}

.profile a:hover {
    color: var(--hooymorado);
    cursor: pointer;
}

.menu {
    position: absolute;
    width: 250px;
    background-color: white;
    top: 100px;
    right: 15px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.menu-active {
    visibility: visible;
    opacity: 1;
    top: 75px;
}

.menu::before {
    content: "";
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: 35px;
    rotate: 45deg;
}

.menu h3 {
    font-size: 1.4rem;
    text-align: center;
    margin: 18px 0 5px;
}

.menu p {
    font-size: 1rem;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 20px;
}

.menu ul {
    margin-bottom: 10px;
}

.menu ul li {
    padding: 5px 10px;
    border-top: 1px solid #33333310;
    background: #ffffff;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu ul li:hover {
    background: #e7e7e7;
}

.menu ul li i {
    font-size: 1.2rem;
    color: #b4b4b4;
    transition: 0.5s;
    margin: 15px;
}

.menu ul li:hover i {
    color: var(--hooymorado);
}

.menu ul li a {
    font-size: 1.3rem;
    color: #292929;
    padding-left: 20px;
    width: 100%;
    height: 47px;
    display: grid;
    align-items: center;
}