#Providers{
    display: flex;
    flex-direction: row;
    padding: 150px 65px 0px 60px;
    gap: 5em;
}

#Providers h1{
    margin-bottom: 2em;
}
.ListWrapper{
    width: 50%;
}

.FromWrapper{
    padding: 0em 0em 1.4em 0em;
    width: 50%;
}