#UploadList{
    display: flex;
    flex-direction: row;
    padding: 60px 40px 0px 40px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectprovider{
    color: black;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;

    gap: 2em;
    height: 100%;
    width: 100%;
}
.ant-table-container{
    box-shadow: 0 0 2px #cacaca;

}
.ant-upload{
    margin-bottom: 2em;
    
}